@import '../../node_modules/antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');


h1, h2, h4, p, a {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 100;
}


p, h4 {
  font-size: 20px;
}

h1 {
  font-size: 65px
}

h2 {
  display: inline;
  font-size: 25px 
}


body {
  background:  url(http://bestanimations.com/Nature/Water/underwater-ocean-gif.gif) no-repeat center center fixed;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
}


@media screen and (max-width: 500px){

  p, h4 {
      font-size: 15px
  }

  h1 {
    font-size: 50px
    }

  h2 {
    display: inline;
    font-size: 25px 
  }

  body {
    padding: 0px !important;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1680px){
  
  p, h4 {
    font-size: 12px
  }

  h1 {
    font-size: 50px
    }

  h2 {
    display: inline;
    font-size: 25px 
  }
}